@using PL.Models;
@using DAL.Entities;

@model IEnumerable<User>;

@{
    ViewData["Title"] = "List of users";
}

<a asp-action="Create" asp-controller="User">Create user</a>
<a asp-action="Create" asp-controller="Blog">Create post</a>
<a asp-action="Index" asp-controller="Roles">List of roles</a>
<a asp-action="Index" asp-controller="Category">List of category</a>

<table>
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Birthdate
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Birthdate)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="User" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ChangePassword" asp-controller="User" asp-route-id="@item.Id">Change password</a> |
                <a asp-action="Delete" asp-controller="User" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

