@model DAL.Model.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
