@using DAL.Model;
@using DAL.ViewModel;
@model DAL.ViewModel.IndexViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Order.OrderID" />
            <div class="form-group">
                <label asp-for="@Model.Order.ProductID" class="control-label"></label>
                <select asp-for="@Model.Order.ProductID" class="form-control" asp-items="ViewBag.ProductID">
                    @foreach (ProductModel indexView in Model.Products)
                    {
                        @foreach (ProductOrder product in Model.ProductOrders)
                        {
                            @if (product.OrderID == null && product.ProductID == @indexView.ProductID)
                            {
                                <option value="@indexView.ProductID">@indexView.ProductName</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="@Model.Order.ProductID" , class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.CustomerID" class="control-label"></label>
                <select asp-for="@Model.Order.CustomerID" class="form-control" asp-items="ViewBag.CustomerID">
                    @foreach (CustomerModel indexView in Model.Customers)
                    {
                        <option value="@indexView.Id">@indexView.Name @indexView.Surname</option>
                    }
                </select>
                <span asp-validation-for="@Model.Order.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.CustomerName" class="control-label"></label>
                <input asp-for="@Model.Order.CustomerName" class="form-control" />
                <span asp-validation-for="@Model.Order.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.ShipedDate" class="control-label"></label>
                <input asp-for="@Model.Order.ShipedDate" class="form-control" />
                <span asp-validation-for="@Model.Order.ShipedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.ToState" class="control-label"></label>
                <input asp-for="@Model.Order.ToState" class="form-control" />
                <span asp-validation-for="@Model.Order.ToState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.ToCity" class="control-label"></label>
                <input asp-for="@Model.Order.ToCity" class="form-control" />
                <span asp-validation-for="@Model.Order.ToCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.ToStreet" class="control-label"></label>
                <input asp-for="@Model.Order.ToStreet" class="form-control" />
                <span asp-validation-for="@Model.Order.ToStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Order.ToZip" class="control-label"></label>
                <input asp-for="@Model.Order.ToZip" class="form-control" />
                <span asp-validation-for="@Model.Order.ToZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

