@using PL.Models;
@model ListViewModel;

@{
    ViewData["Title"] = "Posts";
}

<h2 class="main_title">Latest Posts</h2>

@foreach (var item in Model.Posts)
{
    <section class="section">
        <div class="container">
            <section class="section_header">
                <h2 class="section_title">
                    @Html.DisplayFor(model => item.Title)
                </h2>
                <div class="description">
                    <div class="description_inner">
                        <div class="section_category">
                            <div>
                                <b>Category: </b>
                                <a href ="#">@Html.DisplayFor(model => item.Category.Name)</a>
                            </div>
                        </div>
                        <div class="section_tag">
                            <div>
                                <b>Tag(s): </b>
                                @*Распечатка тэгов*@
                                @foreach (var tag in Model.Relation.Tags)
                                {
                                    @foreach (var post in Model.Relation.PostTags)
                                    {
                                        @if (tag.TagId == post.TagId && post.PostId == item.PostId)
                                        {
                                            <a href ="#">@tag.Name </a> <span>|</span>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <h3 class="section_date">@Html.DisplayFor(model => item.PostedOn)</h3>
                </div>
                <div class="section_text">
                    <p>
                        @Html.DisplayFor(model => item.ShortDescription);
                    </p>
                </div>
            </section>
        </div>
    </section>

    <div class="continue_btn">
        <a class="a_continue text-dark" asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@item.PostId" >continue...</a>
    </div>

    <div>

    </div>

}
